

   
	
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a  routerLink="/admin">admin</a>
   <ul class="innerLink">
	  	<li><a  routerLink="/admin/student">add student</a></li>
	  	<li><a  routerLink="/admin/studentresource">add resource</a></li>
	  </ul>
    <a  routerLink="/srlist">student resource</a>
</div>
<div class="divul" style="background-color: #9C27B0; color: #000000; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
	<span style="font-size:30px;cursor:pointer;padding-top: 10px" (click)="openNav()">&#9776;</span>

	<ul class="navLeft">
	  <li><a  href="/srlist">Home</a></li>
	  <li><a  routerLink="/admin">admin</a></li>
	 
	  <li><a  routerLink="/srlist">student resource</a></li>
	</ul>
</div>
  <router-outlet></router-outlet>